In [31]:
import pandas as pd

# --- Part 1 ---

# 1. Load the dataset. Check the first 5 rows.
print("First 5 rows: ")
df = pd.read_csv("crime_data.csv")
print(df.head())

First 5 rows:
       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  241711715  08/01/2024 12:00:00 AM  08/01/2024 12:00:00 AM      1319    17
1  231014031  09/21/2023 12:00:00 AM  09/15/2023 12:00:00 AM      1930    10
2  231010808  06/27/2023 12:00:00 AM  06/26/2023 12:00:00 AM      1230    10
3  211410441  04/25/2021 12:00:00 AM  04/25/2021 12:00:00 AM      2330    14
4  211114569  10/25/2021 12:00:00 AM  10/25/2021 12:00:00 AM      1455    11

     AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   Devonshire         1791         1     440
1  West Valley         1011         2     354
2  West Valley         1015         2     354
3      Pacific         1488         2     626
4    Northeast         1123         1     210

                          Crm Cd Desc  ... Status  Status Desc Crm Cd 1  \
0  THEFT PLAIN - PETTY ($950 & UNDER)  ...     IC  Invest Cont    440.0
1                   THEFT OF IDENTITY  ...     IC  Invest Cont    354.0
2                   THEFT OF IDENTITY  ...     IC  Invest Cont    354.0
3   INTIMATE PARTNER - SIMPLE ASSAULT  ...     IC  Invest Cont    626.0
4                             ROBBERY  ...     IC  Invest Cont    210.0

  Crm Cd 2  Crm Cd 3 Crm Cd 4                                  LOCATION  \
0      NaN       NaN      NaN   8300    KELVIN                       AV
1      NaN       NaN      NaN  18900    CANTLAY                      ST
2      NaN       NaN      NaN   7300    ENFIELD                      AV
3      NaN       NaN      NaN   5800 W  CENTURY                      BL
4      NaN       NaN      NaN   2900    LOS FELIZ                    BL

  Cross Street      LAT       LON
0          NaN  34.2200 -118.5863
1          NaN  34.2023 -118.5458
2          NaN  34.2033 -118.5241
3          NaN  33.9456 -118.3835
4          NaN   0.0000    0.0000

[5 rows x 28 columns]

In [32]:
# 2. Identify columns with missing values and their respective counts. Drop columns where more than
# 50% of the data is missing (store this version as a new dataset).
print("\nMissing values count per column: ")
missing_counts = df.isnull().sum()
print(missing_counts)

threshold = len(df) * 0.5
cols_to_drop = missing_counts[missing_counts > threshold].index.tolist()
print(f"\nColumns to drop (more than 50% missing): {cols_to_drop}")

df_clean = df.drop(columns=cols_to_drop)

print("\nData after dropping columns:")
print(df_clean.head())

Missing values count per column:
DR_NO                 0
Date Rptd             0
DATE OCC              0
TIME OCC              0
AREA                  0
AREA NAME             0
Rpt Dist No           0
Part 1-2              0
Crm Cd                0
Crm Cd Desc           0
Mocodes            7498
Vict Age              0
Vict Sex           7163
Vict Descent       7165
Premis Cd             0
Premis Desc          29
Weapon Used Cd    33654
Weapon Desc       33654
Status                0
Status Desc           0
Crm Cd 1              2
Crm Cd 2          46448
Crm Cd 3          49885
Crm Cd 4          49995
LOCATION              0
Cross Street      42258
LAT                   0
LON                   0
dtype: int64

Columns to drop (more than 50% missing): ['Weapon Used Cd', 'Weapon Desc', 'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'Cross Street']

Data after dropping columns with >50% missing values:
       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  241711715  08/01/2024 12:00:00 AM  08/01/2024 12:00:00 AM      1319    17
1  231014031  09/21/2023 12:00:00 AM  09/15/2023 12:00:00 AM      1930    10
2  231010808  06/27/2023 12:00:00 AM  06/26/2023 12:00:00 AM      1230    10
3  211410441  04/25/2021 12:00:00 AM  04/25/2021 12:00:00 AM      2330    14
4  211114569  10/25/2021 12:00:00 AM  10/25/2021 12:00:00 AM      1455    11

     AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   Devonshire         1791         1     440
1  West Valley         1011         2     354
2  West Valley         1015         2     354
3      Pacific         1488         2     626
4    Northeast         1123         1     210

                          Crm Cd Desc  ... Vict Sex  Vict Descent Premis Cd  \
0  THEFT PLAIN - PETTY ($950 & UNDER)  ...        M             O     501.0
1                   THEFT OF IDENTITY  ...        F             W     501.0
2                   THEFT OF IDENTITY  ...        F             O     501.0
3   INTIMATE PARTNER - SIMPLE ASSAULT  ...        F             B     503.0
4                             ROBBERY  ...        X             X     412.0

                                Premis Desc  Status  Status Desc Crm Cd 1  \
0                    SINGLE FAMILY DWELLING      IC  Invest Cont    440.0
1                    SINGLE FAMILY DWELLING      IC  Invest Cont    354.0
2                    SINGLE FAMILY DWELLING      IC  Invest Cont    354.0
3                                     HOTEL      IC  Invest Cont    626.0
4  ELECTRONICS STORE (IE:RADIO SHACK, ETC.)      IC  Invest Cont    210.0

                                   LOCATION      LAT       LON
0   8300    KELVIN                       AV  34.2200 -118.5863
1  18900    CANTLAY                      ST  34.2023 -118.5458
2   7300    ENFIELD                      AV  34.2033 -118.5241
3   5800 W  CENTURY                      BL  33.9456 -118.3835
4   2900    LOS FELIZ                    BL   0.0000    0.0000

[5 rows x 22 columns]

In [33]:
# 3. Convert the DATE OCC column to a datetime format. Extract the year, month, and day into separate
# columns. Create a new column for the hour using the TIME OCC column.

date_format = "%m/%d/%Y %I:%M:%S %p"
df_clean["DATE OCC"] = pd.to_datetime(df_clean["DATE OCC"], format=date_format, errors="coerce")
df_clean["Year"] = df_clean["DATE OCC"].dt.year
df_clean["Month"] = df_clean["DATE OCC"].dt.month
df_clean["Day"] = df_clean["DATE OCC"].dt.day

df_clean["TIME OCC"] = df_clean["TIME OCC"].astype(str).str.zfill(4)
df_clean["Hour"] = df_clean["TIME OCC"].str[:2].astype(int)

print("\nAfter cleanup:")
print(df_clean.head())

After cleanup:
       DR_NO               Date Rptd   DATE OCC TIME OCC  AREA    AREA NAME  \
0  241711715  08/01/2024 12:00:00 AM 2024-08-01     1319    17   Devonshire
1  231014031  09/21/2023 12:00:00 AM 2023-09-15     1930    10  West Valley
2  231010808  06/27/2023 12:00:00 AM 2023-06-26     1230    10  West Valley
3  211410441  04/25/2021 12:00:00 AM 2021-04-25     2330    14      Pacific
4  211114569  10/25/2021 12:00:00 AM 2021-10-25     1455    11    Northeast

   Rpt Dist No  Part 1-2  Crm Cd                         Crm Cd Desc  ...  \
0         1791         1     440  THEFT PLAIN - PETTY ($950 & UNDER)  ...
1         1011         2     354                   THEFT OF IDENTITY  ...
2         1015         2     354                   THEFT OF IDENTITY  ...
3         1488         2     626   INTIMATE PARTNER - SIMPLE ASSAULT  ...
4         1123         1     210                             ROBBERY  ...

  Status  Status Desc Crm Cd 1                                  LOCATION  \
0     IC  Invest Cont    440.0   8300    KELVIN                       AV
1     IC  Invest Cont    354.0  18900    CANTLAY                      ST
2     IC  Invest Cont    354.0   7300    ENFIELD                      AV
3     IC  Invest Cont    626.0   5800 W  CENTURY                      BL
4     IC  Invest Cont    210.0   2900    LOS FELIZ                    BL

       LAT       LON  Year Month  Day Hour
0  34.2200 -118.5863  2024     8    1   13
1  34.2023 -118.5458  2023     9   15   19
2  34.2033 -118.5241  2023     6   26   12
3  33.9456 -118.3835  2021     4   25   23
4   0.0000    0.0000  2021    10   25   14

[5 rows x 26 columns]

In [34]:
# 4. Filter the dataset for crimes that occurred in 2023. Further filter crimes with the description
# BURGLARY in the Crm Cd Desc column
df_2023_burglary = df_clean[
    (df_clean["Year"] == 2023) &
    (df_clean["Crm Cd Desc"].str.contains("BURGLARY", case=False, na=False))
    ]
print("\nFiltered dataset (2023 & 'BURGLARY'):")
print(df_2023_burglary.head())

Filtered dataset (2023 & 'BURGLARY'):
         DR_NO               Date Rptd   DATE OCC TIME OCC  AREA  AREA NAME  \
47   231107877  04/15/2023 12:00:00 AM 2023-01-15     0500    11  Northeast
53   231312734  06/23/2023 12:00:00 AM 2023-06-23     1100    13     Newton
130  241305432  01/31/2024 12:00:00 AM 2023-07-31     2130    13     Newton
147  231912840  08/15/2023 12:00:00 AM 2023-08-14     2200    19    Mission
158  230817252  11/21/2023 12:00:00 AM 2023-11-21     1545     8    West LA

     Rpt Dist No  Part 1-2  Crm Cd            Crm Cd Desc  ... Status  \
47          1151         1     310               BURGLARY  ...     IC
53          1331         1     330  BURGLARY FROM VEHICLE  ...     IC
130         1385         1     330  BURGLARY FROM VEHICLE  ...     IC
147         1962         1     310               BURGLARY  ...     IC
158          802         1     330  BURGLARY FROM VEHICLE  ...     IC

     Status Desc Crm Cd 1                                  LOCATION      LAT  \
47   Invest Cont    310.0   5000 W  SUNSET                       BL  34.0981
53   Invest Cont    330.0   3200 S  GRAND                        AV  34.0216
130  Invest Cont    330.0   5800 S  CENTRAL                      AV  33.9857
147  Invest Cont    310.0  15000    CORE                         LN  34.2424
158  Invest Cont    330.0                    WILL ROGERS STATE PARK  34.0506

          LON  Year Month  Day Hour
47  -118.2983  2023     1   15    5
53  -118.2754  2023     6   23   11
130 -118.2628  2023     7   31   21
147 -118.4596  2023     8   14   22
158 -118.5131  2023    11   21   15

[5 rows x 26 columns]

In [35]:
# 5. Group the data by AREA NAME and calculate the total number of crimes and the average victim age.
# Sort the results by total crimes in descending order

grouped_area = df_clean.groupby("AREA NAME").agg(
    Total_Crimes=("AREA NAME", "count"),
    Avg_Victim_Age=("Vict Age", "mean")
).reset_index().sort_values(by="Total_Crimes", ascending=False)
print("\nGrouped by AREA NAME (total crimes and average victim age):")
print(grouped_area)

Grouped by AREA NAME (total crimes and average victim age):
      AREA NAME  Total_Crimes  Avg_Victim_Age
1       Central          3517       28.481376
0   77th Street          3115       29.151525
12      Pacific          3004       28.978029
15    Southwest          2831       29.048040
6     Hollywood          2556       28.331377
9        Newton          2537       25.054789
11      Olympic          2523       27.732858
8   N Hollywood          2503       28.346784
14    Southeast          2459       28.362749
13      Rampart          2388       26.273451
20     Wilshire          2379       29.595628
18      West LA          2249       30.307248
17     Van Nuys          2162       31.748381
19  West Valley          2114       30.640492
10    Northeast          2103       28.732763
16      Topanga          2076       34.018786
4        Harbor          2052       26.983918
2    Devonshire          2031       29.597735
7       Mission          1933       29.609415
5    Hollenbeck          1843       26.158437
3      Foothill          1625       30.511385

In [36]:
# --- Part 2 --- (Python only)

# 1. Find the top 3 most frequent Crm Cd Desc values.

top3_crm_cd_desc = df_clean["Crm Cd Desc"].value_counts().head(3)
print("\nTop 3 most frequent Crm Cd Desc values:")
print(top3_crm_cd_desc)

Top 3 most frequent Crm Cd Desc values:
Crm Cd Desc
VEHICLE - STOLEN            5733
BATTERY - SIMPLE ASSAULT    3715
THEFT OF IDENTITY           3169
Name: count, dtype: int64

In [37]:
# 2. Group the data by Hour and count the number of crimes
grouped_hour = df_clean.groupby("Hour").size().reset_index(name="Crime_Count")
print("\nNumber of crimes by hour:")
print(grouped_hour.sort_values("Crime_Count", ascending = False))

Number of crimes by Hour:
    Hour  Crime_Count
12    12         3446
18    18         3015
17    17         2914
20    20         2830
19    19         2762
15    15         2667
16    16         2597
21    21         2553
14    14         2504
22    22         2469
13    13         2246
11    11         2114
10    10         2110
23    23         2106
0      0         2025
9      9         1841
8      8         1776
1      1         1490
7      7         1302
2      2         1241
6      6         1106
3      3         1063
4      4          975
5      5          848

In [38]:
# 3. Group the data by Vict Sex and calculate: Total crimes, Average victim age
grouped_vict_sex = df_clean.groupby("Vict Sex").agg(
    Total_Crimes=("Vict Sex", "count"),
    Avg_Victim_Age=("Vict Age", "mean")
).reset_index()
print("\nGrouped by Vict Sex (total crimes and average victim age):")
print(grouped_vict_sex)

Grouped by Vict Sex (total crimes and average victim age):
  Vict Sex  Total_Crimes  Avg_Victim_Age
0        F         17922       38.164156
1        H             3       36.333333
2        M         20076       37.165621
3        X          4836        2.672043

In [39]:
# --- Part 4 (Python and R) ---

# 1. Create a new column, Severity Score, based on the following rules:
# • Assign 5 points if a weapon was used (Weapon Used Cd is not null).
# • Assign 3 points for crimes under BURGLARY.
# • Assign 1 point for all other crimes.
# • Group by AREA NAME and find the total severity score for each area.
import numpy as np

df["Severity Score"] = np.where(
    df["Weapon Used Cd"].notnull(),
    5,
    np.where(
        df["Crm Cd Desc"].str.contains("BURGLARY", case=False, na=False),
        3,
        1
    )
)

# Group by AREA NAME and sum the Severity Score for each area.
grouped_severity = df.groupby("AREA NAME")["Severity Score"].sum().reset_index()
grouped_severity = grouped_severity.rename(columns={"Severity Score": "Total Severity Score"})

print("Total Severity Score by AREA NAME:")
print(grouped_severity)

Total Severity Score by AREA NAME:
      AREA NAME  Total Severity Score
0   77th Street                  9439
1       Central                  9513
2    Devonshire                  4703
3      Foothill                  3969
4        Harbor                  5096
5    Hollenbeck                  4615
6     Hollywood                  6950
7       Mission                  4665
8   N Hollywood                  5789
9        Newton                  7047
10    Northeast                  4789
11      Olympic                  6605
12      Pacific                  6830
13      Rampart                  6478
14    Southeast                  7283
15    Southwest                  7241
16      Topanga                  4724
17     Van Nuys                  5028
18      West LA                  5005
19  West Valley                  5286
20     Wilshire                  5563